{% extends "training/base_training.html" %}
{%load staticfiles%}
{% block title %}
    <title>CUEFC - Match Calendar</title>
{% endblock %}

{%block style%}
    {{ block.super }}
{% endblock %}


{% block title_picture %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="album py-5  container">

    <h1>Match Calendar</h1>
    <hr class="featurette-divider">
<p width=100%>
            The calendar below can be added to your Google Account so you can have the fixture list on your phone or other device and it will sync with the club's copy so you always have the most up-to-date fixture list. Just click the button at the bottom-right. Alternatively, click on an individual fixture to copy it to your calendar.
          </br>
          You can also click <a class="funnylink" href="{{ text.CalendarLink }}" target="_blank" >here</a> to
    view a document listing the season's fixtures in a new tab. Please note the dates on this document may change,
    but will be updated regularly. If you have questions, please contact the club secretary.
        </br>
        If you would like to play in a fixture, please contact the captains.
          <div class="googleCalendar">
<iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=2&amp;bgcolor=%23B39DDB&amp;ctz=Europe%2FLondon&amp;src=Y3VldG9uZml2ZXNAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;showTitle=1&amp;showCalendars=1&amp;showTabs=1&amp;title=CUEFC%20Training" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>

          </p>

</div>

{% endblock %}