
    {% extends 'base.html' %}
    {%load staticfiles%}
 
    {% block title %}
    <title>CUEFC - About Fives</title>
    {% endblock %}
    
    {%block style%}
    {{ block.super }}

        <style>

    .underline_link { color: rgba(255, 255, 255, 0.87)}
    .underline_link:hover { text-decoration: underline; }

        </style>
    {% endblock %}
    
    {% block title_picture %}

  <div class='container text-center' style="color: white; background-image: url('/static/brightactanna.png');
  background-size: cover;">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>About</h1>

    <ul class="nav justify-content-center" id="huh">
        <li class="nav-item">
          <a class="nav-link underline_link" href="{%url 'about' %}" style='color:white;'>Eton Fives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link underline_link" href="{%url 'teamnews'%}" style='color:white;'>Club News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link underline_link" href="{%url 'captains'%}" style='color:white;'>Meet the Captains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link underline_link" href="{%url 'committee'%}" style='color:white;' >Committee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link underline_link" href="{%url 'sponsors'%}" style='color:white;' >Sponsorship</a>
        </li>
        <li class="nav-item">
            <a class="nav-link underline_link" href="{%url 'docs'%}" style='color:white;' >Documents</a>
        </li>
      </ul>


      <br/>
      <br/>
    <br/>
    <br/>
  </div>

    {%endblock%}
     


  {% block content %}
  <div class="album py-5  container">
    <hr class="featurette-divider">
    <div class="container">

      <h1>Eton Fives at Cambridge</h1>
      <p>{{text.EtonFivesatCambridge|linebreaks}}</p>
      </p>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette container">
      <div class="col-md">
        <h1 class="featurette-heading">What is Eton Fives? </h1>
        <h3> <span class="text-muted"> Squash, but with gloves </span></h3>
        <p>
         {{text.WhatisEtonFives|linebreaks}}
        </p>
      
 
      <h3> <span class="text-muted"> History of Fives </span></h3>
          <p>{{text.HistoryofEtonFives|linebreaks}}</p>

    </div>
  </div>

  
  </div>

  {%endblock%}


