{% extends "teamnews/about.html" %}
    {%load staticfiles%}
    {% block title %}
    <title>CUEFC - The Captains</title>
    {% endblock %}
   
    {%block style%}
    {{ block.super }}
    {% endblock %}


 
    {% block title_picture %}
    {{ block.super }}
    {% endblock %}

  

    {% block content %}

  <div class="album py-5  container">
    <hr class="featurette-divider">
    <div class="container">
      <h1>Meet the Captains</h1>
      <div class='row'> 
        <div class='col-sm'>
          <h3> <span class="text-muted"> Men's Captain </span></h3>
          <p> {{ mens_captain.full_name }} </p>
        </div>
  
        <div class='col-sm'>
          <h3> <span class="text-muted"> Ladies's Captain </span></h3>
          <p> {{ womens_captain.full_name }}</p>
        </div>

      </div>


    </div>
    
    <hr class="featurette-divider">

    {% endblock %}


