
{% extends "teamnews/about.html" %}
    {%load staticfiles%}
    {% block title %}
    <title>CUEFC - Sponsership</title>
    {% endblock %}
    
    {%block style%}
    {{ block.super }}
    {% endblock %}


 
    {% block title_picture %}
    {{ block.super }}
    {% endblock %}


  


     


    {% block content %}

  <div class="album py-5  container">
    <hr class="featurette-divider">
    <div class="container">

      <h1>Sponsership</h1>
      <p>We are very grateful to our sponsors, Pol Roger, for their ongoing support of Eton Fives at Oxford and Cambridge, as well as a variety of other court games.</p>
    </div>
    
    <hr class="featurette-divider">


  
  </div>

  {% endblock %}

