
{% extends "teamnews/about.html" %}
    {%load staticfiles%}
    {% block title %}
    <title>CUEFC - Sponsorship</title>
    {% endblock %}
    
    {%block style%}
    {{ block.super }}
    {% endblock %}


 
    {% block title_picture %}
    {{ block.super }}
    {% endblock %}


  


     


    {% block content %}

  <div class="album py-5  container">
    <hr class="featurette-divider">
    <div class="container">

      <h1>Sponsorship</h1>
        <p> {{ text.WeNeedSponsors|linebreaks }}</p>
    </div>
    
    <hr class="featurette-divider">


  
  </div>

  {% endblock %}

