
{% extends "teamnews/about.html" %}
  {%load staticfiles%}
  {% block title %}
    <title>CUEFC - Club News</title>
    {% endblock %}

    {%block style%}
    {{ block.super }}
    {% endblock %}


 
    {% block title_picture %}
    {{ block.super }}
    {% endblock %}


    {% block content %}
  <div class="album py-5 ">
    <div class="container">
       
          
  
        <nav class="navbar navbar-light justify-content-between">
            <a class="navbar-brand"><h1>Club News</h1></a>
            <form class="form-inline" role='search' action="/about/clubnews/">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
          
        {% if posts %}

            {% if query %}
                <div class="container">
                <h2>searched for:  {{query}}</h2>
                </div>
            {% endif %}

            {% for post in posts.all %}
            <div class="card mb-3" style = "width = 100%">
              <div class="row ">
                <div class="col-md-4">
                  <img src="{{post.image.url}}" class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    
                    {{post.pub_date_pretty}}
                  
                    
                    <p class="card-text">{{post.summary}}</p>
                    <p class="card-text">
                      <small class="text-muted">
                        <a href="{% url 'newsdetail' post.id %}" class="stretched-link">Continue reading...</a>
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

                
        {% else %}
            <div class="container">
                <h2>No results found</h2>
                <p>Nothing was found matching your search: "{{query}}"
                </br>
                <a href="{% url 'teamnews' %}" class="stretched-link">Show all posts again</a>
                
                </p>
            </div>

        {% endif %}

      </div>
  </div>
  {%endblock%}


