
{% extends "teamnews/about.html" %}
{%load static%}

{% block title %}
    <title>CUEFC - The Committee</title>
{% endblock %}

{%block style%}
    {{ block.super }}

{% endblock %}


{% block title_picture %}
    {{ block.super }}
{% endblock %}




{% block content %}
    <div class="album py-5  container">
        <h1 class="featurette-heading">Junior Committee {{ tenure }}</h1>
        <div class="row">

            <div class="col">
                <hr class="featurette-divider">
                <h4>Men's Captain</h4>
                <h5>{{ mens_captain.full_name }}</h5>
                CRSid: {{ mens_captain.crsid }}
            </div>

            <div class="col">
                <hr class="featurette-divider">
                <h4>Women's Captain</h4>
                <h5>{{ womens_captain.full_name }}</h5>
                CRSid: {{ womens_captain.crsid }}
            </div>

        </div>
        <div class="row">

            <div class="col">
                <hr class="featurette-divider">
                <h4>Men's Secretary</h4>
                <h5>{{ mens_secretary.full_name }}</h5>
                CRSid: {{ mens_secretary.crsid }}
            </div>

            <div class="col">
                <hr class="featurette-divider">
                <h4>Women's Secretary</h4>
                <h5>{{ womens_secretary.full_name }}</h5>
                CRSid: {{ womens_secretary.crsid }}
            </div>

        </div>
        <div class="row">

            <div class="col">
                <hr class="featurette-divider">
                <h4>Junior Treasurer</h4>
                <h5>{{ junior_treasurer.full_name }}</h5>
                CRSid: {{ junior_treasurer.crsid }}
            </div>

            <div class="col">
                <hr class="featurette-divider">
                <h4>Webmaster</h4>
                <h5>{{ webmaster.full_name }}</h5>
                CRSid: {{ webmaster.crsid }}
            </div>

        </div>
        <div class="row">

            <div class="col">
                <hr class="featurette-divider">
                <h4>Social Secretary</h4>
                <h5>{{ social_secretary.full_name }}</h5>
                CRSid: {{ social_secretary.crsid }}
            </div>

            <div class="col">
                <hr class="featurette-divider">
                <h4>Welfare Officer</h4>
                <h5>{{ welfare_officer.full_name }}</h5>
                CRSid: {{ welfare_officer.crsid }}
            </div>

        </div>
        </br>
        </br>
        <h1 class="featurette-heading">Senior Committee {{ tenure }}</h1>
        <div class="row">

            <div class="col">
                <hr class="featurette-divider">
                <h4>Club President</h4>
                <h5>Riki Houlden</h5>
            </div>

            <div class="col">
                <hr class="featurette-divider">
                <h4>Vice President</h4>
                <h5>Rodney Knight</h5>

            </div>

        </div>
        <div class="row">

            <div class="col">
                <hr class="featurette-divider">
                <h4>Vice President</h4>
                <h5>Dale Vargas</h5>

            </div>

            <div class="col">
                <hr class="featurette-divider">
                <h4>Vice President</h4>
                <h5>Peter Reynolds</h5>

            </div>

        </div>
        <div class="row">

            <div class="col">
                <hr class="featurette-divider">
                <h4>Senior Treasurer</h4>
                <h5>Hugo Azerad</h5>

            </div>

            <div class="col">


            </div>

        </div>


    </div>
{% endblock %}


