{%extends 'base.html'%}

{%load staticfiles%}

{% block title %}
    <title>CUEFC - Contact Us</title>
{% endblock %}



{% block style %}
{{block.super}}
    <style>
    .btn-outline-info {
            color: rgba(51, 204, 204, 0.87);
            background-color: #ffffff;
            border-color: rgba(51, 204, 204, 0.87); /*set the color you want here*/
            }

        .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .open>.dropdown-toggle.btn-outline-info {
            color: #fff;
            background-color: rgba(51, 204, 204, 0.87);
            border-color: rgba(51, 204, 204, 0.87); /*set the color you want here*/
            }
    </style>
{% endblock %}


{% block title_picture %}

<div class='container text-center' style="color: white; background-image: url('/static/screenshotcamblue.png'); background-size:
cover;">
<br/>
<br/>
<br/>
<br/>
<br/>
    <br/>

<h1>Contact Us</h1>
<br/>
<br/>
<br/>
<br/>
</div>
{% endblock %}


{% block content %}
<div class="album py-5 container">



<h1>How to get in touch</h1>

<hr class="featurette-divider">

<p>Please feel free to contact us at <a href = "mailto: cuetonfives@gmail.com">cuetonfives@gmail.com</a> if you have
    any
    questions about the club. Please also feel free to contact the captains.

</p>
<p>
    To sign up for our termly club newsletter click <a target="_blank" href=
        "{{ NewsLetterLink.SignUpForNewsLetter }}">here!</a>

</p>



</div>




{%endblock%}


