{%extends 'base.html'%}

{%load staticfiles%}

{% block title %}
    <title>CUEFC - Contact Us</title>
{% endblock %}



{% block style %}
{{block.super}}
    <style>
    .btn-outline-info {
            color: rgba(51, 204, 204, 0.87);
            background-color: #ffffff;
            border-color: rgba(51, 204, 204, 0.87); /*set the color you want here*/
            }

        .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .open>.dropdown-toggle.btn-outline-info {
            color: #fff;
            background-color: rgba(51, 204, 204, 0.87);
            border-color: rgba(51, 204, 204, 0.87); /*set the color you want here*/
            }
    </style>
{% endblock %}


{% block title_picture %}

<div class='container text-center' style="color: white; background-image: url('/static/cheer.svg'); background-size: cover;">
<br/>
<br/>
<br/>
<br/>
<br/>
<h1>Contact Us</h1>
<br/>
<br/>
<br/>
<br/>
</div>
{% endblock %}


{% block content %}
<div class="album py-5 container">



<h1>How to get in touch</h1>

<hr class="featurette-divider">

<p>Please feel free to contact us at <a href = "mailto: cuetonfives@gmail.com">cuetonfives@gmail.com</a> if you have
    any
    questions about the club. You can also send us a message using this form below and we will get back to you as soon as possible. </p>

<!-- the form -->
<form method='POST'> 
  {% csrf_token %}
  
  <div class="form-group">
      <label for="exampleInputPassword1">Your Name</label>
      <input name='contact_name' required="required" placeholder="Alex Bloggs" type="text" class="form-control" id="exampleInputPassword1">
  </div>

<div class="form-group">
  <label for="exampleInputEmail1">Your Email address</label>
  <input name='contact_email' required="required"  placeholder="alexbloggs@gmail.com" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>

<div class="form-group">
  <label for="exampleInputPassword1">Your Message</label>
  <textarea name='content' required="required"  type="text" class="form-control" id="exampleInputPassword1" rows=5 ></textarea>
  
  <small id="passwordHelpBlock" class="form-text text-muted">
      You can adjust the size of this box!
    </small>  
</div>


<button type="submit" class="btn btn-outline-info" >Submit</button>


</form>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Successfully sent</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Thank you for your message; we will get back to you via the email address you filled in as soon as possible!
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-info " data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

</div>




{%endblock%}


{% block java %}
{% if successful_submit %}
<script type="text/javascript">
$(document).ready(function(){
  $("#exampleModal").modal('show');
});
</script>
{% endif %}
{%endblock%}
