{% extends 'base.html' %}

{% block title_picture %}

<div class='container text-center' style="color: white; background-image: url('/static/gals.svg'); background-size: cover;">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <h1>Support the Club</h1>
  <br/>
  <br/>

    <br/>
    <br/>
  <br/>
  <br/>
  </div>


  {% endblock %}

{%block content%}
<div class="container">
donate here!!! pls! thanks
this page will eventually look like the swimming one, and link to the donate portal.
</div>
{% endblock %}