{% extends 'base.html' %}

{%load staticfiles%}
{% block title %}
    <title>CUEFC</title>
    {% endblock %}
    
    {% block style %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .heading{color:grey}
      .heading:hover{color:rgba(51, 204, 204, 0.87)}

      .navbar-custom { 
            background-color: rgba(111, 245, 245, 0.788) 
        } 


    </style>
{% endblock %}


  

{% block title_picture %}
    
    <div id="myCarousel" class="carousel slide container " data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src = "{%static 'cutcrop.jpg'%}" width='100%' height='100%'>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Cambridge University Eton Fives Club</h2>
                    <p>Welcome to our website!</p>
                  </div>
            </div>
          </div>

          <div class="carousel-item">
            <img src= "{%static 'cute.svg'%}" width = "100%" height = "100%">
            <div class="container">
              <div class="carousel-caption text-right">
                <p>Universities Mixed Tournament</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img src = "{%static 'lolifonly169.svg'%}" height='100%' width='100%'>
            <div class="container">
              <div class="carousel-caption text-right">
                <h2>Team News</h2>
                <p>hello hello hello</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Visit Blog</a></p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img src = "{%static 'gals.svg'%}" height='100%' width='100%'>
            <div class="container">
              <div class="carousel-caption text-right">
                
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img src = "{%static 'viralha.svg'%}" height='100%' width='100%'>
            <div class="container">
              <div class="carousel-caption text-right">
                <h2>hehe</h2>
                <p>does it look better with captions? idek</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    {% endblock %}


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  {% block link_nav %}
    </br>
    </br> 
  <div class="container marketing">

   


  <!-- finally! it aligns and doesn't mess up on mobile -->
    <div class="card-deck ">
      <div class="card border-0 px-md-5 col-md-auto">
        <img src="{%static 'omgcrop.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center; color:rgba(51, 204, 204, 0.87)" >Eton Fives?</h2>
          <p class="card-text" style="text-align: center;">
            Sqaush with your hands... but add a buttress, a step, get rid of the back wall....
          </p>
        </div>
        <div class="card-footer border-0 " style="background-color: rgb(255, 255, 255); ">
          <p class="card-text" style="text-align: center;"><a class="btn btn-secondary" href="{% url 'allnews'%}" role="button">Learn More &raquo;</a></p>
        </div>
      </div>

      <div class="card border-0 px-md-5 col-md-auto">
        <img src="{%static 'candidcrop.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center; color:rgba(51, 204, 204, 0.87)" >Team News</h2>
          <p class="card-text" style="text-align: center;">
            Catch up with what the team has been up to - will include links to match reports from the official EFA
          </p>
        </div>
        <div class="card-footer border-0" style="background-color: rgb(255, 255, 255); ">
          <p class="card-text" style="text-align: center;"><a class="btn btn-secondary" href="{%url 'teamnews'%}" role="button">Blog posts &raquo;</a></p>
        </div>
      </div>
      
      <div class="card border-0 px-md-5 col-md-auto">
        <img src="{%static 'cambackcrop.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center; color:rgba(51, 204, 204, 0.87)" >Join us!</h2>
          <p class="card-text" style="text-align: center;">
            Training takes place twice a week at the University Sports Centre. If you'd like to join us, come along or drop us a message!
          </p>
        </div>
        <div class="card-footer border-0" style="background-color: rgb(255, 255, 255); ">
          <p class="card-text" style="text-align: center;"><a class="btn btn-secondary" href="{%url 'contactus' %}" role="button">Contact us &raquo;</a></p>
        </div>
      </div>

      

      
    </div>
    {% endblock %}


    <!-- START THE FEATURETTES 
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Eton Fives? </h2>
        <p class="lead"> Sqaush with your hands (BUt in doubles only, and without the backwall, and replace with a step, a hole, a buttress, ledges... ) </p>
      </div>
      <div class="col-md-5">
        <img src="{%static 'masscrop.jpg'%}" width="500" height="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" >
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> Trying the circle swap <span class="text-muted">Would probably look better on mobile? </span></h2>
        <p class="lead">(also just need to learn how to use bootstrap properly) </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{%static 'candidcrop.jpg' %}" width='500' height='500' class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  >
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
  {% block content %}
  </br>

  <!-- I hate the layout of this!!! maybe horizontal cards? like feautrettes.. and feature insta posts in the futre?-->
  <div class="album py-5 bg-light container">
    <div class="container">
      <h1>Latest News</h1>
      {% for post in posts.all %}
      <div class="card mb-3" style = "width = 100%">
        <div class="row ">
          <div class="col-md-4">
            <img src="{{post.image.url}}" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              
              {{post.pub_date_pretty}}
            
              
              <p class="card-text">{{post.summary}}</p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="{% url 'newsdetail' post.id %}" class="stretched-link">Continue reading...</a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>


  </div><!-- /.container -->
  {%endblock%}

